.form-button {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 25px 0;
}

.form-button:hover {
    color: #95FFD4;
}